<?xml version="1.0"?>
<configuration>  
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VM3D.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>  
  <userSettings>
    <VM3D.Properties.Settings>
      <setting name="MaxCoord" serializeAs="String">
        <value>1E+09</value>
      </setting>
      <setting name="MaxDepth" serializeAs="String">
        <value>1E+09</value>
      </setting>
      <setting name="MaxTime" serializeAs="String">
        <value>1E+09</value>
      </setting>
      <setting name="MaxIntervalVelocity" serializeAs="String">
        <value>50000</value>
      </setting>
      <setting name="MinIntervalVelocity" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="SubSampleWidth" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="SubSampleHeight" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="PerPixelLighting" serializeAs="String">
        <value>True</value>
      </setting>
    </VM3D.Properties.Settings>
  </userSettings>
</configuration>
